<div role="banner" class="header-main_att">

	{{! the blog metadata, set in ghost admin Settings > General }}

	{{#if @blog.logo}}
		<a class="logo_att" href="{{@blog.url}}">
			<img src="{{@blog.logo}}" alt="{{@blog.title}}" />
		</a>
	{{/if}}

	<h1 class="blog-title_att">
		<a title="{{@blog.title}}" href='{{@blog.url}}'>
			{{{@blog.title}}}
		</a>
	</h1>


	<h2 class="blog-description_att">
		<a title="{{@blog.title}}" href='{{@blog.url}}'>
			{{@blog.description}}
		</a>
	</h2>
	
</div>