{{!< default}}

{{> header}}

<main class="main-content_att" role="main">

	<div class="wrap_att article-list_att">

		{{#foreach posts}}

			<article class="article_att" role="article" itemscope itemtype="http://schema.org/Article">

				<header class="articleheader_att">

					<h1 class="article-title_att" itemprop="headline">
						<a href="{{{url}}}" rel="bookmark">
							{{title}}
						</a>
					</h1>

					<div class="article-meta_att">
						
						<time class="date_att" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished"> 
							{{date format='dddd DD MMM YYYY'}}
						</time>

						{{#if tags}}
							|
							<span class="article-tags_att">
								{{tags separator=", "}}
							</span>
						{{/if}}

					</div>

				</header>

				<div class="article-excerpt_att" itemprop="articleBody">
				
					{{excerpt}} ...

				</div>

			</article>

		{{/foreach}}

		{{#if pagination}}
			<div class="pagination_att">
				{{{pagination}}}
			</div>
		{{/if}}

	</div>

</main>

{{> footer}}