{{! include the default.hbs template }}
{{!< default}}

{{> header}}

<main class="main-content_att" role="main">

	<div class="wrap_att">

		{{! #post tags display the post for the single template }}
		{{#post}}

			<article class="article_att" role="article" itemscope itemtype="http://schema.org/Article">

				<header class="article-header_att">
					
					<h1 class="article-title_att" itemprop="headline">{{title}}</h1>

					<div class="article-meta_att">

						<div class="bg_att">

							<time class="date_att" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
								{{date format='dddd DD MMM YYYY'}}
							</time>
							|
							{{#if tags}}
								<divspan class="article-tags_att">
									{{tags separator=", "}}
								</span>
							{{/if}}

						</div>

					</div>

				</header>

				<div class="article-content_att" itemprop="articleBody">
				
					{{content}}
				
				</div>

	    		<div class="share-article_att">

					<a class="share_att twitter_att" target="_blank" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}">
						<span class="icon-twitter"></span>
					</a>

	    			<a class="share_att facebook_att" target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}">
	    				<span class="icon-facebook"></span>
	    			</a>
	    			<a class="share_att googleplus_att" target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}">
	    				<span class="icon-googleplus"></span>
	    			</a>

	    		</div>

			</article>

		{{/post}}

		{{#if pagination}}
			<div class="pagination_att">
				{{{pagination}}}
			</div>
		{{/if}}

	</div>

</main>

{{! include the footer template (placed in the partials folder) }}
{{> footer}}